/* Replace Theme.css file with this file */

html body {
    font-family: GDS Transport;
}

html[dir=ltr] li a {
  margin-left: 0;
}

/* Custom loader */
.loader {
    border:7px solid #1d70b8;
    border-radius: 50%;
    border-top: 7px solid #0b0c0c; 
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari loader*/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Dynamics overrides */
.sort-disabled,
.sort-enabled a {
    color: #0b0c0c !important;
    text-decoration: none !important;
}

.sort .crmEntityFormView .cell.crmquickform-cell:first-child {
    border-right: 0;
}

.crmEntityFormView .cell div.control span.checkbox input[type="checkbox"] {
    margin-left: -20px;
}

.crmEntityFormView .cell.checkbox-cell div.info {
    padding-left: 0;
    display: block;
}

.crmEntityFormView .cell div.control span.checkbox {
    margin-top: 10px;
}

.crmEntityFormView .tab-title {
    border-bottom: 0;
}

.crmEntityFormView .cell textarea {
    font-weight: 400 !important;
    font-size: 16px !important;

}

@media (min-width: 40.0625em) {
    .crmEntityFormView .cell textarea {
        font-size: 19px !important;
        line-height: 1.31579 !important;
    }
}

@media print {
    .crmEntityFormView .cell textarea {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.quickform td {
    border: 0;
}

.cell {
    padding: 20px 20px 20px 0 !important;
    text-align: left;
    vertical-align: top;
}

.cell:last-child {
    padding-right: 0 !important;
}

.form-control {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.31579;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
}

.form-control:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0;
    border-color: #000;
}

.dropdown-menu>li>a {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}

@media print {
    .dropdown-menu>li>a {
        font-family: sans-serif;
    }
}

.dropdown-menu>li>a:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

.dropdown-menu>li>a:link {
    color: #1d70b8;
}

.dropdown-menu>li>a:visited {
    color: #4c2c92;
}

.dropdown-menu>li>a:hover {
    color: #003078;
}

.dropdown-menu>li>a:active {
    color: #0b0c0c;
}

.dropdown-menu>li>a:focus {
    color: #0b0c0c;
}

@media print {

    .dropdown-menu>li>a[href^="/"]:after,
    .dropdown-menu>li>a[href^="http://"]:after,
    .dropdown-menu>li>a[href^="https://"]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word;
    }
}

/* Bootstrap overrides */
body {
    color: #0b0c0c;
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

a {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}

@media print {
    a {
        font-family: sans-serif;
    }
}

a:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

a:link {
    color: #1d70b8;
}

a:visited {
    color: #4c2c92;
}

a:hover {
    color: #003078;
}

a:active {
    color: #0b0c0c;
}

a:focus {
    color: #0b0c0c;
}

@media print {

    a[href^="/"]:after,
    a[href^="http://"]:after,
    a[href^="https://"]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
        word-wrap: break-word;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}

input[type="file"] {
    display: inline;
}

.list-group-item {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #005ea5;
    border-color: #005ea5;
}

.list-group-item-success {
    color: #fff;
    background-color: #00823b;
}

.alert-danger {
    background-color: transparent;
    color: #0b0c0c;
    padding: 15px;
    margin-bottom: 30px;
    border: 5px solid #d4351c;
}

@media print {
    .alert-danger {
        color: #000;
    }
}

@media (min-width: 40.0625em) {
    .alert-danger {
        padding: 20px;
        margin-bottom: 50px;
    }
}

.alert-danger:focus {
    outline: 3px solid #fd0;
}

.alert-danger ul {
    margin-top: 0;
    margin-bottom: 0;
}
.alert-danger ul a {
    font-weight: 700;
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}
@media print {
    .alert-danger ul a {
        font-family: sans-serif;
    }
}
.alert-danger ul a:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.alert-danger ul a:link,
.alert-danger ul a:visited {
    color: #d4351c;
}
.alert-danger ul a:hover {
    color: #942514;
}
.alert-danger ul a:active {
    color: #d4351c;
}
.alert-danger ul a:focus {
    color: #0b0c0c;
}

.alert-success {
    color: #fff;
    background-color: #00823b;
    border-color: #00823b;
}

div.message.success {
    background-color: #00823b;
    border-color: #00823b;
    color: #fff;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 18px;
    padding: 9px 39px 9px 14px;
    -ms-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

hr {
    border-top: 4px solid #003078;
}

/*input,*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.25 !important;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media print {

    /*input,*/
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    /*input,*/
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        font-size: 19px !important;
        line-height: 1.31579 !important;
    }
}

@media print {

    /*input,*/
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        font-size: 14pt;
        line-height: 1.15;
    }
}

/*input:focus,*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

/*input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,*/
input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-outer-spin-button,
input[type="email"]::-webkit-inner-spin-button,
input[type="email"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/*input,*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

/*input:focus,*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    z-index: 1;
}

@media (max-width: 19.99em) {

    /*input,*/
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"]  {
        max-width: 100%;
    }
}

label,
label .xrm-attribute .xrm-attribute-value {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    margin-bottom: 5px;
}

@media print {

    label,
    label .xrm-attribute .xrm-attribute-value {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    label,
    label .xrm-attribute .xrm-attribute-value {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {

    label,
    label .xrm-attribute .xrm-attribute-value {
        font-size: 14pt;
        line-height: 1.15;
        color: #000;
    }
}

.crmEntityFormView>input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.crmEntityFormView>input[type="checkbox"]:focus {
    border-width: 4px;
    box-shadow: 0 0 0 3px #fd0;
}

.crmEntityFormView>input[type="checkbox"]:checked {
    opacity: 1;
}

.crmEntityFormView>input[type="checkbox"]:disabled,
.crmEntityFormView>input[type="checkbox"]:disabled+label {
    cursor: default;
}

.crmEntityFormView>input[type="checkbox"]:disabled+label {
    opacity: 0.5;
}

.checkbox {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding-left: 40px;
    clear: left;
}

@media print {
    .checkbox {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .checkbox {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .checkbox {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.checkbox:last-child,
.checkbox:last-of-type {
    margin-bottom: 0;
}

.crmEntityFormView>input[type="radios"] {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.crmEntityFormView>input[type="radios"]:focus {
    border-width: 4px;
    box-shadow: 0 0 0 4px #fd0;
}

.crmEntityFormView>input[type="radios"]:checked {
    opacity: 1;
}

.crmEntityFormView>input[type="radios"]:disabled,
.crmEntityFormView>input[type="radios"]:disabled+label {
    cursor: default;
}

.crmEntityFormView>input[type="radios"]:disabled+label {
    opacity: 0.5;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:after {
    content: "";
    display: block;
    clear: both;
}

@media (min-width: 40.0625em) {
    .form-group {
        margin-bottom: 30px;
    }
}

.form-group .form-group:last-of-type {
    margin-bottom: 0;
}

.form-group--error {
    padding-left: 15px;
    border-left: 5px solid #d4351c;
}

.form-group--error .form-group {
    padding: 0;
    border: 0;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.breadcrumb:after,
.breadcrumb::after {
    content: "";
    display: block;
    clear: both;
}

.breadcrumb li {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 15.655px;
    float: left;
}
.breadcrumb li:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3.31px;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
}
.breadcrumb li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.breadcrumb li:first-child:before,
.breadcrumb li:first-child::before {
    content: none;
    display: none;
}

.breadcrumb li a {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
}
@media print {
    .breadcrumb li a {
        font-family: sans-serif;
    }
}
.breadcrumb li a:focus {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.breadcrumb li a:link,
.breadcrumb li a:visited {
    color: #0b0c0c;
}
@media print {
    .breadcrumb li a:link,
    .breadcrumb li a:visited {
        color: #000;
    }
}
.breadcrumb li a:hover {
    color: rgba(11, 12, 12, 0.99);
}
.breadcrumb li a:active,
.breadcrumb li a:focus {
    color: #0b0c0c;
}
@media print {
    .breadcrumb li a:active,
    .breadcrumb li a:focus {
        color: #000;
    }
}

.table {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

@media print {
    .table {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .table {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .table {
        font-size: 14pt;
        line-height: 1.15;
        color: #000;
    }
}

@media (min-width: 40.0625em) {
    .table {
        margin-bottom: 30px;
    }
}

th {
    font-weight: 700;
}

td,
th {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
}

td:last-child,
th:last-child {
    padding-right: 0;
}

p,
.modal-body {
    color: #0b0c0c;
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 15px;
}

@media print {

    p,
    .modal-body {
        color: #000;
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    p,
    .modal-body {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {

    p,
    .modal-body {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {

    p,
    .modal-body {
        margin-bottom: 20px;
    }
}

h2 {
    color: #0b0c0c;
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

@media print {
    h2 {
        color: #000;
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    h2 {
        font-size: 36px;
        line-height: 1.11111;
    }
}

@media print {
    h2 {
        font-size: 24pt;
        line-height: 1.05;
    }
}

@media (min-width: 40.0625em) {
    h2 {
        margin-bottom: 30px;
    }
}

h1 {
    color: #0b0c0c;
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.09375;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 0;
}

@media print {
    h1 {
        color: #000;
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    h1 {
        font-size: 48px;
        line-height: 1.04167;
    }
}

@media print {
    h1 {
        font-size: 32pt;
        line-height: 1.15;
    }
}

@media (min-width: 40.0625em) {
    h1 {
        margin-bottom: 50px;
    }
}

legend {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0;
    white-space: normal;
    border-bottom: 0;
}

@media print {
    legend {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    legend {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    legend {
        font-size: 14pt;
        line-height: 1.15;
        color: #000;
    }
}

select,
.picklist {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    box-sizing: border-box;
    max-width: 100%;
    height: 40px;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid #0b0c0c;
}

@media print {

    select,
    .picklist {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {

    select,
    .picklist {
        font-size: 19px;
        line-height: 1.25;
    }
}

@media print {

    select,
    .picklist {
        font-size: 14pt;
        line-height: 1.25;
    }
}

select:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

select:focus::-ms-value,
select option:active,
select option:checked {
    color: #fff;
    background-color: #1d70b8;
}

div.info label {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 1.04167;
    margin-bottom: 15px;
}

@media print {
    div.info label {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .div.info label {
        font-size: 36px !important;
        line-height: 1.11111 !important;
    }
}

@media print {
    div.info label {
        font-size: 24pt;
        line-height: 1.05;
    }
}

.col-md-8 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px 0 0;
}

@media (min-width: 40.0625em) {
    .col-md-8 {
        width: 66.6666%;
        float: left;
    }
}

.col-md-4 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px 0 0;
}

@media (min-width: 40.0625em) {
    .col-md-4 {
        width: 33.3333%;
        float: left;
    }
}

.col-md-12 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px 0 0;
}

@media (min-width: 40.0625em) {
    .col-md-12 {
        width: 100%;
        float: left;
    }
}

/* Buttons */
/***********/

.btn-primary,
.btn-default {
    font-family: GDS Transport;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin: 0 5px 22px 0;
    padding: 8px 10px 7px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:link,
.btn-primary:visited,
.btn-default:active,
.btn-default:hover,
.btn-default:link,
.btn-default:visited {
    color: #fff;
    text-decoration: none;
}

.btn-primary::-moz-focus-inner,
.btn-default::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.btn-primary:hover,
.btn-default:hover {
    background-color: #005a30;
}

.btn-primary:active,
.btn-default:active {
    top: 2px;
}

.btn-primary:focus,
.btn-default:focus {
    border-color: #fd0;
    outline: 3px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 1px #fd0;
}

.btn-primary:focus:not(:active):not(:hover),
.btn-default:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 2px 0 #0b0c0c;
}

.btn-primary:before,
.btn-default:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: rgba(0, 0, 0, 0);
}

.btn-primary:active:before,
.btn-default:active:before {
    top: -4px;
}

.btn-primary--disabled,
.btn-primary[disabled="disabled"],
.btn-primary[disabled],
.btn-default--disabled,
.btn-default[disabled="disabled"],
.btn-default[disabled] {
    opacity: 0.5;
}

.btn-primary--disabled:hover,
.btn-primary[disabled="disabled"]:hover,
.btn-primary[disabled]:hover,
.btn-default--disabled:hover,
.btn-default[disabled="disabled"]:hover,
.btn-default[disabled]:hover {
    background-color: #00703c;
    cursor: default;
}

.btn-primary--disabled:focus,
.btn-primary[disabled="disabled"]:focus,
.btn-primary[disabled]:focus,
.btn-default--disabled:focus,
.btn-default[disabled="disabled"]:focus,
.btn-default[disabled]:focus {
    outline: none;
}

.btn-primary--disabled:active,
.btn-primary[disabled="disabled"]:active,
.btn-primary[disabled]:active,
.btn-default--disabled:active,
.btn-default[disabled="disabled"]:active,
.btn-default[disabled]:active {
    top: 0;
    box-shadow: 0 2px 0 #002d18;
}