{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}{% endblock %}
{% block title %}{% endblock %}

{% block main %}
    <!-- cookie page id-->
    {% assign pageId = "dada51eb-31e9-ef11-9341-7c1e5234c506" %}
    <!-- Get portal page config record other page(not customer jurney page) -->
    {% include 'Enquiry/GetPortalPageConfig' pageType: "222750001" id:pageId  %}
     <!-- Title -->
    {% include 'Enquiry/PortalPageTitle' portalPageconfig : portalPageconfig_result %}
    <!-- Title ends -->
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Success
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="/cookies">Go back to the page you were looking at</a>.
            </p>
        </div>
    </div>
    {% fetchxml cookieConfig_query %}
        <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
            <entity name="dfe_enquirycookiespageconfig">
            <attribute name="dfe_enquirycookiespageconfigid" />
            <attribute name="dfe_name" />
            <attribute name="dfe_text" />
            <attribute name="dfe_subheading" />
            <attribute name="dfe_gdstype" />
            <attribute name="dfe_gdsliststype" />
            <attribute name="dfe_cookiebannertype" />         
            <attribute name="dfe_order" />
            <order attribute="dfe_order" descending="false" />
            <order attribute="dfe_name" descending="false" />
            <filter type="and">
                <condition attribute="statecode" operator="eq" value="0" />
            </filter>
            </entity>
        </fetch>
    {% endfetchxml %}
    {% assign cookieSettings = "" %}
    {% if cookieConfig_query.results.entities.size > 0 %}
       {% for cookieConfigData in  cookieConfig_query.results.entities %}
            {% if cookieConfigData.dfe_gdstype.value == "222750006" %}
                {% assign cookieSettings = cookieConfigData %}
            {% endif %}
            <!--default-->
            {% if cookieConfigData.dfe_subheading != ""  %}
                <h2 class='govuk-heading-m'>{{ cookieConfigData.dfe_subheading }}</h2>
            {% endif %}
        
            {% case cookieConfigData.dfe_gdstype.value %}
                {% when "222750000" %} <!-- inset text-->
                    {% if cookieConfigData.dfe_text != ""  %}
                        <div class="govuk-inset-text">                
                            {{ cookieConfigData.dfe_text }}
                        </div>
                    {% endif %}
                {% when "222750002" %} <!-- warning text-->
                    {% if cookieConfigData.dfe_text != ""  %}
                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>                            
                                {{ cookieConfigData.dfe_text }}                            
                            </strong>
                        </div>
                    {% endif %}
                {% when "222750003" %} <!--  text-->                
                    {% if cookieConfigData.dfe_text %}        
                        <p class="govuk-body">{{ cookieConfigData.dfe_text }}</p>
                    {% endif %} 

                {% when "222750005" %} <!-- lists-->
                    <!-- getGDSTable Data -->
                    {% include 'Enquiry/GetGDSTypeData' pageType:"cookie" pageConfigId: cookieConfigData.dfe_enquirycookiespageconfigid %}                
                    {% if cookieConfigData.dfe_text %}        
                        <p class="govuk-body">{{ cookieConfigData.dfe_text }}</p>
                    {% endif %}
                    {% if gdsTableQuery_Result.size >0 %}
                        {% if cookieConfigData.dfe_gdslisttype.value == "222750000" %}
                            <!-- bullted lis-->
                            {% assign listTag = '<ul class="govuk-list govuk-list--bullet">' %}
                            {% assign listendTag = '</ul>' %} 
                        {% else %}
                            <!-- numbered lis-->
                            {% assign listTag = '<ol class="govuk-list govuk-list--number">' %}
                            {% assign listendTag = '</ol>' %}
                        {% endif %}
                        {{listTag}}
                            {% for gdsTableData in gdsTableQuery_Result %}    
                            <li>{{ gdsTableData.dfe_listitem }}</li>                    
                            {% endfor %}
                        {{listendTag}}
                    {% endif %}
                              
                {% when "222750001" %} <!-- table-->
                    {% include 'Enquiry/GetGDSTypeData' pageType:"cookie" pageConfigId:cookieConfigData.dfe_enquirycookiespageconfigid %}
                    
                    {% if cookieConfigData.dfe_text !="" %}        
                        <p class="govuk-body">{{ cookieConfigData.dfe_text }}</p>
                    {% endif %}
                    
                    {% if gdsTableQuery_Result.size > 0 %}
                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Name</th>
                                <th scope="col" class="govuk-table__header">Purpose</th>
                                <th scope="col" class="govuk-table__header">Expires</th>
                            </tr>
                            </thead>
                            <tbody class="govuk-table__body"></tbody>
                                {% for gdsTableData in  gdsTableQuery_Result %}  
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">{{gdsTableData.dfe_tblcolumnname}}</td>
                                        <td class="govuk-table__cell">{{gdsTableData.dfe_tblcolumnpurpose}}</td>
                                        <td class="govuk-table__cell">{{gdsTableData.dfe_tblcolumnexpires}}</td>
                                    </tr>   
                                {% endfor %}
                        </tbody>
                        </table>
                    {% endif%} 
            {% endcase %}
        {% endfor %}
        <!-- cookiebannertype is essential and analytical cookies then include analtical cookie savesettings-->  
        {% if cookieSettings != "" and cookieSettings.dfe_cookiebannertype.value == 222750001  %}
                  
            {{ snippets['DfE/Cookie/AnalyticalCookies'] }}        
        {% endif %}
        <!-- ends-->
       
    {% endif %}

{% endblock %}