{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}
  <!--<h1 class='govuk-heading-l'>{{ page.title }}</h1>-->
{% endblock %}


{% block main %}
{% assign title = page.title | split: ":" %}
<h1 class="govuk-label-wrapper">
    <span class="govuk-caption-l">{{ title[0] }}</span>
    <label class="govuk-label govuk-label--l">
      {{ title[1] }}
    </label>
</h1>
<!-- get landing page record -->
{% include 'Enquiry/GetCustomerJourneyConfig' dfeType:"222750000" %} 
{% if customerjourneyconfig_result.size > 0 %}
 {% assign next= customerjourneyconfig_result[0].dfe_next.id %}
 <!-- get continue link for landing page -->
 {% assign customerJourney = entities['dfe_customerjourneyconfig'][next] %}
 {% assign continueURL =  snippets["Enquiry/WebsiteUrl"]  | append: "/" | append: customerJourney.dfe_webpagepartialurl | append: "?custJourneyId=" | append: next %}
{% endif %}
<h2 class='govuk-heading-m'>{% editable snippets 'Enquiry/LandingPageHeading1' %}</h2>
{% editable snippets 'Enquiry/LandingPageContent1' %}
<h2 class='govuk-heading-m'>{% editable snippets 'Enquiry/LandingPageHeading2' %}</h2>
{% editable snippets 'Enquiry/LandingPageContent2' %}
<button class="govuk-button" id="submit-btn" data-module="govuk-button" data-prevent-double-click="true">Continue   
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</button>
<script type="text/javascript">
  $(() => {
    $('#submit-btn').on("click", () => {      
      DfEPortal.DisableButton("submit-btn");
      DfEPortal.ShowLoadingSpinner("loader");  
      window.location.href = '{{continueURL}}';
    })
  })
</script>
  {% if user %}
    <!-- Signed in user content goes here -->    
  {% else %}
    <!-- Signed out user content goes here -->
  {% endif %}
{% endblock %}