{% assign homeurl = website.mspp_partialurl %}

<!-- Meta tags -->
<meta name="theme-color" content="#1d70b8">
<meta property="og:image" content="/govuk-opengraph-image.png">

<!-- Favicon and icons -->
<link rel="mask-icon" href="/govuk-icon-mask.svg" color="#1d70b8">
<link rel="apple-touch-icon" href="/govuk-icon-180.png">

<!-- Scripts -->
<script src="/remove-bootstrap.js"></script>
<script type="module" src="/govuk-frontend.min.js"></script>
<script src="/dfe-custom-components.js"></script>
<script src="/dfe-crm-portal-helper.js"></script>

<script>
  // Add GOV.UK classes
  const html = document.documentElement;
  const body = document.body;

  if (html) {
    html.classList.add('govuk-template--rebranded');
  }

  if (body) {
    body.classList.add('govuk-template__body', 'js-enabled', 'govuk-frontend-supported');
  }
</script>

{% comment %}
{% editable snippets 'DfE/Header/Cookies' %}
{% endcomment %}

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

{% assign show_account_nav_bar = settings["DfE/Header/ShowAccountNavBar"] | boolean | default:true %}
{% if show_account_nav_bar %}
<section id="top-nav" class="dfe-manual-top-nav">
  <div class="govuk-width-container">
    <div class="dfe-manual-top-nav__container">
     <div class="dfe-manual-top-nav__items">
     <ul class="dfe-manual-top-nav__list">
      {% if user %}
        {% assign show_profile_nav_links = settings["DfE/Header/ShowProfileNavLink"] | boolean | default:true %}
        {% if show_profile_nav_link %}
        <li class="dfe-manual-top-nav__item">
          <a href="/profile" class="dfe-manual-top-nav__link govuk-link govuk-link--inverse govuk-link--no-underline">
            {{ user.emailaddress1 }}
          </a>
        </li>
        {% endif %}
        <li class="dfe-manual-top-nav__item">
          <a href="{% if homeurl %}/{{ homeurl }}{% endif %}/Account/Login/LogOff?returnUrl=%2F" class="dfe-manual-top-nav__link govuk-link govuk-link--inverse govuk-link--no-underline">
            Sign out
          </a>
        </li>
      {% else %}
        <li class="dfe-manual-top-nav__item">
          <a href="{% if homeurl %}/{{ homeurl }}{% endif %}{{ website.sign_in_url_substitution }}" class="dfe-manual-top-nav__link govuk-link govuk-link--inverse govuk-link--no-underline">
            Sign in
          </a>
        </li>
      {% endif %}
      </ul>
     </div>
    </div>
  </div>
</section>
{% endif %}

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <img src="/dfe-logo_white.png" alt="Department for Education" class="govuk-header__logotype">
      </a>
    </div>
  </div>
</header>

<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="/" class="govuk-service-navigation__link">
        {{ settings['DfE/ServiceName'] }}
        </a>
      </span>
      {% assign primary_nav = weblinks["Primary Navigation"] %}
      {% if primary_nav %}
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          {% for link in primary_nav.weblinks %}
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="{{ link.url | escape }}">
              {{ link.name | escape }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>
  </div>
</section>