{% extends 'DfE/Layouts/2ColumnWideLeft' %}



{% block title %}{% endblock %}

{% block main %}

<h1 class="govuk-heading-xl">Cookies</h1>

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
    aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" hidden>
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="#">Go back to the page you were looking at</a>.
        </p>
    </div>
</div>

<p class="govuk-body">
    Cookies are small files saved on your phone, tablet or computer when you visit a website.
</p>
<p class="govuk-body">
    We use cookies to make the Help Portal work and collect information about how you use our service.
</p>

<h2 class="govuk-heading-l">Essential cookies</h2>
<p class="govuk-body">
    Essential cookies keep your information secure while you use the Customer Help Portal. We do not need to ask permission to
    use them.
</p>

<table class="govuk-table">
    <caption class="govuk-visually-hidden">Essential Cookies/caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Purpose</th>
            <th scope="col" class="govuk-table__header app-custom-class">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">helportal_consent</td>
            <td class="govuk-table__cell">Used to hold details of cookie consent preferences for the Help Portal.</td>
            <td class="govuk-table__cell">400 days</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">__RequestVerificationToken</td>
            <td class="govuk-table__cell">Used by the antiforgery system.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">.AspNet.ApplicationCookie</td>
            <td class="govuk-table__cell">Used to identify user sessions. A user session starts when a user browses
                website for the first time. And ends when the session is closed. Configure authentication can be used to
                change session expiry time span.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">adxPreviewUnpublishedEntities</td>
            <td class="govuk-table__cell">Stores preview ON/OFF mode used in classic CMS system for website
                administrators.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">adx-notification</td>
            <td class="govuk-table__cell">Used in basic form actions to store alert message to be shown on redirection
            </td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">ARRAffinity</td>
            <td class="govuk-table__cell">Added automatically by Azure websites and ensures that requests are load
                balanced between different sites. Doesn't store any of user information. You may see either the
                ARRAffinity or ARRAffinitySameSite cookie depending on your browser.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">ASP.NET_SessionId</td>
            <td class="govuk-table__cell">Used to maintain the session of a logged in user to avoid repeated sign-in.
            </td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">ContextLanguageCode</td>
            <td class="govuk-table__cell">Stores the default language of the user accessing website within a session and
                across webpages. The cookie is deleted after session closes.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">Dynamics365PortalAnalytics</td>
            <td class="govuk-table__cell">Critical service cookie to analyze service usage anonymously and aggregated
                for statistical purpose.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">isDSTObserved</td>
            <td class="govuk-table__cell">Stores a value to indicate if the current moment is in daylight saving time.
            </td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">isDSTSupport</td>
            <td class="govuk-table__cell">Indicates whether a specified date and time falls in the range of daylight
                saving time.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">timeZoneCode</td>
            <td class="govuk-table__cell">Stores the timezonecode field value of CRM timezonedefinition table for the
                current timezone.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">timezoneoffset</td>
            <td class="govuk-table__cell">Stores the timezone difference between UTC and Local browser time.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">PrivateModeLoginCookie</td>
            <td class="govuk-table__cell">Used to identify internal maker sessions when site is in private mode.</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">OpenIdConnect.nonce.xxxxxx</td>
            <td class="govuk-table__cell">Used to associate a Client session with an ID Token, and to mitigate replay
                attacks</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">.AspNet.ExternalCookieC1 and .AspNet.ExternalCookieC2</td>
            <td class="govuk-table__cell">Both these cookies are one single cookie (2 different chunks). It is used to
                identify user sessions in external signin scenarios</td>
            <td class="govuk-table__cell">Session</td>
        </tr>
    </tbody>
</table>


<h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
<p class="govuk-body">
    With your permission, we use Google Analytics to collect data about how you use the Customer Help Portal. This information
    helps us to improve our service.
</p>
<p class="govuk-body">
    Google is not allowed to use or share our analytics data with anyone.
</p>
<table class="govuk-table">
    <caption class="govuk-visually-hidden">Analytics Cookies</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Purpose</th>
            <th scope="col" class="govuk-table__header app-custom-class">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Checks if you’ve visited the Help Portal before. This helps us count how many
                people visit our site.</td>
            <td class="govuk-table__cell">400 days</td>
        </tr>
    </tbody>
</table>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Change your cookie settings</h2>
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Do you want to accept analytics cookies?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="cookies-analytics" name="cookie-radios" type="radio"
                            value="yes">
                        <label class="govuk-label govuk-radios__label" for="cookies-analytics">
                            Use cookies that measure my website use
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="cookies-analytics-2" name="cookie-radios" type="radio"
                            value="no">
                        <label class="govuk-label govuk-radios__label" for="cookies-analytics-2">
                            Do not use cookies that measure my website use
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button" id="save-cookie-settings">
            Save cookie settings
        </button>
    </div>
</div>

<script src="/dfe_cookies.js"></script>
<script>
    // On Load method
    var cookieConsent = dfeCookies.checkAnalyticalCookies();
    let cookieAnalyticsOne = document.getElementById("cookies-analytics");
    let cookieAnalyticsTwo = document.getElementById("cookies-analytics-2");

    // Google Analytics Cookie exists - user has accepted or reject cookies
    if (cookieConsent == 1) {
        cookieAnalyticsOne.checked = true;
        cookieAnalyticsTwo.checked = false;
    }
    // Google Analytics Cookie does not exist - user has not accepted or rejected
    else if (cookieConsent == 2) {
        cookieAnalyticsOne.checked = false;
        cookieAnalyticsTwo.checked = true;
    }
    else {
        cookieAnalyticsOne.checked = false;
        cookieAnalyticsTwo.checked = false;
    }

    // On Change methods
    dfeCookies.saveCookieSettings("save-cookie-settings");

</script>
{% endblock %}