{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}
{% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}
  {% include 'Enquiry/Back' prevCustJourneyId:params.prevCustJourneyId,enquiryId:params.enquiryId,categoryId:params.categoryId,custJourneyId:params.custJourneyId %}
  {% if params.enquiryId %}
    {% assign enquiryId = params.enquiryId %} 
    {% include 'Enquiry/CheckIfEnquiryContactNotNull' enqId:params.enquiryId %}
    {% if checkIfEnquiryContactNotNull_result.size == 0 %}
     <a href="{{ EnquryBackUrl }}" class="govuk-back-link">Back</a>
    {% endif %}
  {% endif %}
{% endblock %}
{% block title %}
<!--<h1 class='govuk-heading-l'>{{ page.title }}</h1>-->
{% endblock %}
{% block main %}
  <!--{% editable snippets 'Enquiry/CategoryContent' %}-->
  {% assign enquiryDetails = entities['dfe_enquiry'][params.enquiryId] %}
  {% if params.custJourneyId and params.enquiryId %}
    <!-- to get next web page for subcategory -->
    {% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}
    {% if customerJourneyCategory %}
      {% assign customerJourneyLandingPage = entities['dfe_customerjourneyconfig']['5a47de5f-20ab-ef11-b8e9-000d3adb571a'] %}
      {% assign customerJourneyContactDetailsPage = entities['dfe_customerjourneyconfig']['37c6e77a-24a0-ef11-8a6a-7c1e521fa723'] %}      
      {% if checkIfEnquiryContactNotNull_result.size > 0 %}
         {% include 'snippet' snippet_name: 'Enquiry/ExistingEnquiry' contactid:checkIfEnquiryContactNotNull_result[0]['dfe_enquirycontact'].id %}  
      {% else %}  
      {% assign nextURL = snippets["Enquiry/WebsiteUrl"]  | append: "/" | append: customerJourneyLandingPage.dfe_webpagepartialurl | append: "/"  %}
      <!-- list subcategories of category -->
      {% assign currentDatePlusOne = now | date_add_days: 1 | date: "yyyy-MM-dd HH:mm:ss" %}
      {% fetchxml portalSubCategories_query %}
      <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
        <entity name="dfe_subcategory">
        <attribute name="dfe_subcategoryid" />
        <attribute name="dfe_name" />
        <attribute name="dfe_category" />
        <attribute name="dfe_description" />
        <order attribute="dfe_order" descending="false" />
        <filter type="and">
            <condition attribute="dfe_category" operator="eq" uitype="dfe_category" value="{{params.categoryId}}" />
            <condition attribute="createdon" operator="le" value="{{ currentDatePlusOne }}" />
            <condition attribute="statecode" operator="eq" value="0" />
        </filter>
        </entity>
      </fetch>
      {% endfetchxml %}
      {% assign portalSubcategoriesLen = portalSubCategories_query.results.entities.size %}
      <!-- get portal page config record -->
      {% include 'Enquiry/GetPortalPageConfig' customerJourneyId:params.custJourneyId %}
      <!-- Title portalPageconfig_result array returns from GetPortalPageConfig-->
      {% include 'Enquiry/PortalPageTitle' portalPageconfig : portalPageconfig_result %}
      <!-- title ends --> 
          {% if portalSubcategoriesLen > 0 %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="subcategory-hint">
              <p id="dfe_subcategory-error" class="govuk-error-message govuk-visually-hidden">
                  <span class="govuk-visually-hidden">Error:</span>
              </p><br>

              <div class="govuk-radios" data-module="govuk-radios" id="dfe_subcategories">
                  <!-- create a radio option for each retrieved record -->
                  {% for subcategory in  portalSubCategories_query.results.entities %}
                    <div class="govuk-radios__item">                 
                      
                        <input class="govuk-radios__input" id="dfe_subcategory{{ subcategory.dfe_subcategoryid }}" name="dfe_subcategory" type="radio" value="{{ subcategory.dfe_subcategoryid }}" {% if params.subcategoryId %} {% if subcategory.dfe_subcategoryid == params.subcategoryId %}checked {% endif %}{% endif %}>
                   
                        <label class="govuk-label govuk-radios__label" for="dfe_subcategory{{ subcategory.dfe_subcategoryid }}">
                            <strong> {{ subcategory.dfe_name }} </strong>
                        </label>
                        <div id="dfe_category{{ subcategory.dfe_subcategoryid }}-item-hint" class="govuk-hint govuk-radios__hint">
                          {{ subcategory.dfe_description }}
                        </div>                  
                    </div>
                  {% endfor %}
              </div>
          </fieldset>
        </div> 

        <button class="govuk-button" id="submit-btn" data-module="govuk-button" data-prevent-double-click="true">Continue   
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
        <!-- loader spinner -->
        <div id="loader" class="loader govuk-visually-hidden"></div>
      {% endif %}
     
      <script type="text/javascript">
        $(() => {
          const entityName = "dfe_enquiries";
          
          let inputsToValidate = [{ 
            identifier: "dfe_subcategory", 
            type: "radio", 
            friendlyName: "a Sub Category", 
            resolve: false, 
            required: true,
            targetType: "lookup",
            targetEntity: "dfe_subcategories"           
          }]

          $('#submit-btn').on("click", () => {      
            DfEPortal.DisableButton("submit-btn");
            DfEPortal.ShowLoadingSpinner("loader");
            DfEPortal.ValidateData(inputsToValidate)
            .then(() => {
              DfEPortal.WebApi.ConstructData(inputsToValidate)
              .then(dataObj => { 
                debugger;               
                var subCategoryradioValue = $("input[name='dfe_subcategory']:checked").val();
                DfEPortal.WebApi.Init();                
                DfEPortal.WebApi.Update("{{ params.enquiryId }}", entityName, dataObj)
                .then(() => {
                  if("{{params.ackid}}")
                  {
                      window.location.href= '{{nextURL}}{{customerJourneyContactDetailsPage.dfe_webpagepartialurl}}/?categoryId={{params.categoryId}}&subcategoryId=' + subCategoryradioValue + '&enquiryId={{params.enquiryId}}&prevCustJourneyId=a7477ce6-24a0-ef11-8a6a-7c1e521fa723&custJourneyId=37c6e77a-24a0-ef11-8a6a-7c1e521fa723&ackid={{params.ackid}}';
                  }
                  else
                  {
                     window.location.href= '{{nextURL}}{{customerJourneyContactDetailsPage.dfe_webpagepartialurl}}/?categoryId={{params.categoryId}}&subcategoryId=' + subCategoryradioValue + '&enquiryId={{params.enquiryId}}&prevCustJourneyId=a7477ce6-24a0-ef11-8a6a-7c1e521fa723&custJourneyId=37c6e77a-24a0-ef11-8a6a-7c1e521fa723';
                  }
                 
                })
                .catch(error => {
                  console.log(error);
                  DfEPortal.Errors.ShowWebApiError();
                  DfEPortal.EnableButton("submit-btn");
                  DfEPortal.HideLoadingSpinner("loader");
                })      
                    
              })
              .catch(error => {
                console.log(error);
                DfEPortal.Errors.ShowWebApiError();
                DfEPortal.EnableButton("submit-btn");
                DfEPortal.HideLoadingSpinner("loader");
              })
            })
            .catch(() => {
              DfEPortal.EnableButton("submit-btn");
              DfEPortal.HideLoadingSpinner("loader");
            })
          });      
          
        })
      </script>
      {% endif %}
    {% else %}
     <script>
       window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
     </script>
   {% endif %} 
  {% else %}
    <script>
      window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
    </script>
  {% endif %}

    {% if user %}
      <!-- Signed in user content goes here -->    
    {% else %}
      <!-- Signed out user content goes here -->
    {% endif %}
{% endblock %}

{% block rightColumn %}
  <!-- Side banner content goes in here. If side banner content is not required this block can be removed from the template -->
{% endblock %}