{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}
{% assign title = page.title | split: ":" %}
<h1 class="govuk-label-wrapper">
    <span class="govuk-caption-l">{{ title[0] }}</span>
    <label class="govuk-label govuk-label--l">
      {{ title[1] }}
    </label>
</h1>
{% if params.categoryId != '' %}

 {% assign urlSplitAr = request.url | split: '/' %}

 <!-- to get next web page for landing page -->
 {% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}
  {% assign customerJourneyNext = entities['dfe_customerjourneyconfig'][customerJourneyCategory.dfe_next.id] %}

 {% assign continueURL =  snippets["Enquiry/WebsiteUrl"]  | append: "/" | append: urlSplitAr[2] | append: "/" | append: customerJourneyNext.dfe_webpagepartialurl | append: "?custJourneyId=" | append: customerJourneyNext.dfe_next.id %}
 {% if customerJourneyNext.dfe_type.value == '222750002' %}
  {% assign continueURL =  snippets["Enquiry/WebsiteUrl"]  append: "/" | append: urlSplitAr[2] | append: "/" | append: customerJourneyNext.dfe_webpagepartialurl %}
 {% endif %}
{% endif %}
{% editable snippets 'Enquiry/CategoryContent' %}
{% fetchxml portalCategories_query %}
 <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
  <entity name="dfe_category">
    <attribute name="dfe_categoryid" />
    <attribute name="dfe_name" />
    <order attribute="dfe_name" descending="false" />
    <filter type="and">
      <condition attribute="statecode" operator="eq" value="0" />
    </filter>
  </entity>
</fetch>
{% endfetchxml %}
{{portalCategories_query.results.entities.size}}
{% if portalCategories_query.results.entities.size > 0 %}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="enquirytype-hint">
        <p id="dfe_enquirytype-error" class="govuk-error-message govuk-visually-hidden">
            <span class="govuk-visually-hidden">Error:</span>
        </p><br>

        <div class="govuk-radios" data-module="govuk-radios" id="dfe_enquirytypes">
            <!-- create a radio option for each retrieved record -->
            {% for category in  portalCategories_query.results.entities %}
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="dfe_category{{ category.dfe_categoryid }}" name="dfe_category" type="radio" value="{{ category.dfe_categoryid }}">
                    <label class="govuk-label govuk-radios__label" for="dfe_category{{ category.dfe_categoryid }}">
                        <strong> {{ category.dfe_name }} </strong>
                    </label>                   
                </div>
            {% endfor %}
        </div>
    </fieldset>
  </div> 

{% endif %}

<button class="govuk-button" id="submit-btn" data-module="govuk-button" data-prevent-double-click="true">Continue   
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</button>
<script type="text/javascript">
  $(() => {
    $('#submit-btn').on("click", () => {      
      DfEPortal.DisableButton("submit-btn");
      DfEPortal.ShowLoadingSpinner("loader");  
      window.location.href = '{{continueURL}}';
    })
  })
</script>
  {% if user %}
    <!-- Signed in user content goes here -->    
  {% else %}
    <!-- Signed out user content goes here -->
  {% endif %}
{% endblock %}

{% block rightColumn %}
  <!-- Side banner content goes in here. If side banner content is not required this block can be removed from the template -->
{% endblock %}