{% extends 'DfE/Layouts/2ColumnWideLeft' %}
{% block breadcrumbs %}
{% endblock %}

{% block title %}
  <h1 class='govuk-heading-xl'>{% editable snippets 'DfE/Central/Enquiries/LandingPageHeading' %}</h1>
{% endblock %}

{% block main %}

  {% if user %}
    <!-- Signed in user content goes here -->
    
  {% else %}
    <!-- Signed out user content goes here -->
  {% endif %}
{% endblock %}

{% block rightColumn %}
  <!-- Side banner content goes in here. If side banner content is not required this block can be removed from the template -->
  
{% endblock %}