{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}

{% endblock %}

{% block title %}
  <!--<h1 class='govuk-heading-l'>{{ page.title }}</h1>-->
{% endblock %}

{% block main %}
 {% if params.custJourneyId and params.enquiryId and params.contactid %} 
   {% assign enquiryDetails = entities['dfe_enquiry'][params.enquiryId] %}
   {% if params.contactid %}      
     {% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}
     {% if customerJourneyCategory %}
     {% assign enquiryacknowledgementconfig = entities['dfe_enquiryacknowledgementconfig']['120258f7-4cd3-ef11-8eea-7c1e521fa723'] %}
      
     <div class="govuk-panel govuk-panel--confirmation">
     <h1 class="govuk-panel__title" style="color: #ffffff">
       {{enquiryacknowledgementconfig.dfe_bannertext}}
     </h1>
      <div class="{% if enquiryacknowledgementconfig.dfe_enableenquiryreference == true %}govuk-panel__body{% else %} govuk-visually-hidden {% endif %}">
      {% assign enquiryName = enquiryDetails.dfe_name | split: "-" %}
      Your reference number<br><strong>{{ enquiryName[1] | prepend: "ENQ-" }}</strong>
    </div>
   </div>
   {% fetchxml acknowledgementConfig_query %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="dfe_enquiryacknowledgementconfig">
		<attribute name="dfe_enquiryacknowledgementconfigid" />
		<attribute name="dfe_name" />
		<attribute name="dfe_text" />
		<attribute name="dfe_subheading" />
		<attribute name="dfe_order" />
		<attribute name="dfe_bannertext" />
		<order attribute="dfe_order" descending="false" />
		<filter type="and">
		  <condition attribute="statecode" operator="eq" value="0" />
		</filter>
     </entity>
	</fetch>
 {% endfetchxml %}
	{% if acknowledgementConfig_query.results.entities.size > 0 %}
	  {% for acknowledgeData in  acknowledgementConfig_query.results.entities %}  
		{% if acknowledgeData.dfe_subheading != ""  %}
		  <h2 class='govuk-heading-m'>{{ acknowledgeData.dfe_subheading }}</h2>
		{% endif %}
		{% if acknowledgeData.dfe_text %}
		<!-- need to replace dynamicaaly crm url-->
		  <p class="govuk-body">{{ acknowledgeData.dfe_text }}</p>
		{% endif %}
	  {% endfor %}
	{% endif %}
 
    {% assign customerJourneyLandingPage = entities['dfe_customerjourneyconfig']['5a47de5f-20ab-ef11-b8e9-000d3adb571a'] %}
    {% if customerJourneyLandingPage %}    
        <!-- get continue link for landing page -->
        {% assign customerJourneyNext = entities['dfe_customerjourneyconfig'][customerJourneyLandingPage.dfe_next.id] %}
        {% assign nextURL =  snippets["Enquiry/WebsiteUrl"] | append: "/" | append: customerJourneyLandingPage.dfe_webpagepartialurl | append: "/" | append: customerJourneyNext.dfe_webpagepartialurl | append: "?custJourneyId=" | append: customerJourneyLandingPage.dfe_next.id | append: "&prevCustJourneyId=" | append: customerJourneyLandingPage.dfe_customerjourneyconfigid | append: "&ackid=" | append: params.contactid %}
        <p class="{% if enquiryacknowledgementconfig.dfe_enablenewenquirylink == true %} govuk-body govuk-!-font-size-16 {% else %} govuk-visually-hidden {% endif %}"> Click <a href="{{nextURL}}" class="govuk-link">here</a> if you wish to raise a new enquiry </p>       
    {% endif %}

  {% else %}
  <script>
    window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
  </script>
  {% endif %}
  {% else %}
    {% include 'snippet' snippet_name: 'Enquiry/ExistingEnquiry' maintext:"You haven't created an enquiry", linktext:"Create an enquiry" %}
  {% endif %}
  {% else %}
  <script>
    window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
  </script>
  {% endif %}
 
    {% if user %}
      <!-- Signed in user content goes here -->    
    {% else %}
      <!-- Signed out user content goes here -->
    {% endif %}
{% endblock %}
{% block rightColumn %}
  <!-- Side banner content goes in here. If side banner content is not required this block can be removed from the template -->
{% endblock %}