{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}

{% endblock %}

{% block title %}
  {% include 'Enquiry/GetPortalPageConfig' pageType: "222750000" id:'5a47de5f-20ab-ef11-b8e9-000d3adb571a' %}
  {% include 'Enquiry/PortalPageTitle' portalPageconfig : portalPageconfig_result %}
{% endblock %}

{% block main %}

  {% include 'Enquiry/GetPortalPageConfig' pageType: "222750000" id:'5a47de5f-20ab-ef11-b8e9-000d3adb571a' %}
  {% assign customerJourneyLandingPage = entities['dfe_customerjourneyconfig']['5a47de5f-20ab-ef11-b8e9-000d3adb571a'] %}

  {% if customerJourneyLandingPage %}    
    {% assign customerJourneyNext = entities['dfe_customerjourneyconfig'][customerJourneyLandingPage.dfe_next.id] %}
    {% assign nextURL =  snippets["Enquiry/WebsiteUrl"] | append: "/" | append: customerJourneyLandingPage.dfe_webpagepartialurl | append: "/" | append: customerJourneyNext.dfe_webpagepartialurl | append: "?custJourneyId=" | append: customerJourneyLandingPage.dfe_next.id | append: "&prevCustJourneyId=" | append: customerJourneyLandingPage.dfe_customerjourneyconfigid %}

    {% if params.enquiryId  %}
      {% assign nextURL =  nextURL | append: "&enquiryId=" | append: params.enquiryId %}
    {% endif %}
  
    {% fetchxml landingpageConfig_query %}
    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="false">
      <entity name="dfe_enquirylandingpageconfig">
        <attribute name="dfe_enquirylandingpageconfigid" />
        <attribute name="dfe_subheading" />
        <attribute name="dfe_text" />
        <attribute name="dfe_order" />
        <order attribute="dfe_order" descending="false" />
        <filter type="and">
          <condition attribute="statecode" operator="eq" value="0" />
        </filter>
      </entity>
    </fetch>
    {% endfetchxml %}

    {% if landingpageConfig_query.results.entities.size > 0 %}
      {% for landingpageData in  landingpageConfig_query.results.entities %} 
        {% if landingpageData.dfe_subheading != ""  %}
          <h2 class='govuk-heading-m'>{{ landingpageData.dfe_subheading }}</h2>
        {% endif %}

        {% if landingpageData.dfe_text %}
          <!-- need to replace dynamicaaly crm url-->
          {{ landingpageData.dfe_text }}
        {% endif %}
      {% endfor %}
    {% endif %}

    <button class="govuk-button" id="submit-btn" data-module="govuk-button" data-prevent-double-click="true">Continue   
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </button>

    <div id="loader" class="loader govuk-visually-hidden"></div>

    <script type="text/javascript">
      $(() => {

        $('.ck-content').removeAttr('style');

        $('#submit-btn').on("click", () => {
          sessionStorage.removeItem("titleoptionvalue");
          sessionStorage.removeItem("businessphone");
          sessionStorage.removeItem("mobilephone");
          sessionStorage.removeItem("firstname");
          sessionStorage.removeItem("email");
          sessionStorage.removeItem("lastname");
          sessionStorage.removeItem("address1street1");
          sessionStorage.removeItem("address1street2");
          sessionStorage.removeItem("address1street3");
          sessionStorage.removeItem("address1city");
          sessionStorage.removeItem("address1stateprovince");
          sessionStorage.removeItem("address1zippostalcode");
          sessionStorage.removeItem("address1countryregion");       
          DfEPortal.DisableButton("submit-btn");
          DfEPortal.ShowLoadingSpinner("loader");  
          window.location.href = '{{nextURL}}';
        })
      })
    </script>


  {% else %}
  <script>
    window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
  </script>
  {% endif %}
{% endblock %}