{% extends 'DfE/Layouts/2ColumnWideLeft' %}

{% block breadcrumbs %}
{% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}

{% include 'Enquiry/Back' prevCustJourneyId:params.prevCustJourneyId,enquiryId:params.enquiryId,categoryId:params.categoryId,subcategoryId:params.subcategoryId,subCategoryLevel1Id:params.subcategorylevel1Id,subCategoryLevel2Id:params.subcategorylevel2Id,subCategoryLevel3Id:params.subcategorylevel3Id,subCategoryLevel4Id:params.subcategorylevel4Id,custJourneyId:params.custJourneyId,ackId:params.ackid %} 
  {% if params.enquiryId %}
    {% assign enquiryId = params.enquiryId %} 
    {% include 'Enquiry/CheckIfEnquiryContactNotNull' enqId:params.enquiryId %}
    {% if checkIfEnquiryContactNotNull_result.size == 0 %}
     <a href="{{ EnquryBackUrl }}" class="govuk-back-link">Back</a>
    {% endif %}
  {% elsif params.prevCustJourneyId == "5a47de5f-20ab-ef11-b8e9-000d3adb571a" and params.custJourneyId == "37c6e77a-24a0-ef11-8a6a-7c1e521fa723" %}
       <a href="{{ EnquryBackUrl }}" class="govuk-back-link">Back</a>
  {% endif %} 
{% endblock %}
{% block title %}
<!--<h1 class='govuk-heading-l'>{{ page.title }}</h1>-->
{% endblock %}
{% block main %}
    <!-- get portal page config record -->
    {% include 'Enquiry/GetPortalPageConfig' pageType: "222750000" id:params.custJourneyId %}
    <!-- Title portalPageconfig_result array returns from GetPortalPageConfig-->
    {% include 'Enquiry/PortalPageTitle' portalPageconfig : portalPageconfig_result %}
    <!-- title ends --> 
   {% assign customerJourneyCategory = entities['dfe_customerjourneyconfig'][params.custJourneyId] %}
    {% if customerJourneyCategory %}
        
        {% assign customerJourneyLandingPage = entities['dfe_customerjourneyconfig']['5a47de5f-20ab-ef11-b8e9-000d3adb571a'] %}
        {% assign customerJourneyAcknowledgementPage = entities['dfe_customerjourneyconfig']['9e1a48f6-97d2-ef11-8eea-7c1e521fa723'] %}
		{% assign reCaptcha = false %}
		{% assign reCaptchaSiteKey = settings['Enquiry/CaptchaSiteKey'] %}	    
		{% if portalPageconfig_result.size > 0 %}     
		 {% if portalPageconfig_result[0]['dfe_enablerecaptcha'] == true %}
		   {% assign reCaptcha = true %}
		 {% else %}
		   {% assign reCaptcha = false %}
		 {% endif %}
		{% endif %}
        {% if checkIfEnquiryContactNotNull_result.size > 0 %}
          {% include 'snippet' snippet_name: 'Enquiry/ExistingEnquiry' contactid:checkIfEnquiryContactNotNull_result[0]['dfe_enquirycontact'].id %}  
        {% else %}
        {% assign nextURL = snippets["Enquiry/WebsiteUrl"]  | append: "/" | append: customerJourneyLandingPage.dfe_webpagepartialurl | append: "/"  %}
        {% assign enquirycontactconfiguration = entities['dfe_enquirycontactconfiguration']['99550d2e-4bcf-ef11-b8e9-7c1e521fa723'] %}
    
      <div class={% if enquirycontactconfiguration.dfe_istitlevisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
      <label class="govuk-label" for="dfe_title">
        Title
      </label>             
      <select class="govuk-select" id="dfe_title-dropdown" name="dfe_title">
        <option value="">Choose title</option>      
        <option value="222750000">Mr</option>
        <option value="222750001">Mrs</option>
        <option value="222750002">Miss</option>
        <option value="222750003">Doctor</option>
        <option value="222750004">Other</option>       
      </select>
      <input class="govuk-input govuk-visually-hidden" id="dfe_titleoptionvalue" name="dfe_titleoptionvalue" type="text" value="">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="dfe_firstname">
        First name
      </label>
      <input class="govuk-input govuk-input--width-20" id="dfe_firstname" name="dfe_firstname" type="text" spellcheck="false" autocomplete="given-name" maxlength="100" maxchar="255" value="">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="dfe_lastname">
        Last name
      </label>
      <input class="govuk-input govuk-input--width-20" id="dfe_lastname" name="dfe_lastname" type="text" spellcheck="false" autocomplete="family-name" maxlength="100" maxchar="255" value="">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="dfe_email">
        Email address
      </label>      
      <input class="govuk-input govuk-input--width-20" id="dfe_email" name="dfe_email" type="text" spellcheck="false" maxlength="100" autocomplete="dfe_email" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isbusinessphonevisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
      <label class="govuk-label" for="dfe_businessphone">
        Business Phone
      </label>
      <input class="govuk-input govuk-input--width-20" id="dfe_businessphone" name="dfe_businessphone" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_ismobilephonevisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_mobilephone">
          Mobile Phone
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_mobilephone" name="dfe_mobilephone" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
      </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1street1visible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1street1">
            Street 1
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1street1" name="dfe_address1street1" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1street2visible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1street2">
            Street 2
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1street2" name="dfe_address1street2" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1street3visible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1street3">
            Street 3
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1street3" name="dfe_address1street3" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1cityvisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1city">
            City
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1city" name="dfe_address1city" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1stateprovincevisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1stateprovince">
            County/State/Province
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1stateprovince" name="dfe_address1stateprovince" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1postalcodevisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1zippostalcode">
            Postal Code
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1zippostalcode" name="dfe_address1zippostalcode" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class={% if enquirycontactconfiguration.dfe_isaddress1countryregionvisible == false %} govuk-visually-hidden {% else %} govuk-form-group {% endif %}>
        <label class="govuk-label" for="dfe_address1countryregion">
            Country/Region
        </label>
        <input class="govuk-input govuk-input--width-20" id="dfe_address1countryregion" name="dfe_address1countryregion" type="text" spellcheck="false"  maxlength="100" maxchar="255" value="">
    </div>
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="2000"> 
      <label class="govuk-label" for="dfe_enquirydetails">
        Enquiry details
      </label>
      <textarea class="govuk-textarea govuk-js-character-count" id="dfe_enquirydetails"  name="dfe_enquirydetails" rows="5" max="2000" aria-describedby="dfe_enquirydetails-hint dfe_enquirydetails-info"></textarea>
                <div id="dfe_enquirydetails-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 2000 characters
                </div>
    </div>
	    <div id="captha_elt"></div><br><div id="CaptchMessageId"></div>
      <button class="govuk-button govuk-input--width-20" id="submit-btn" data-module="govuk-button" data-prevent-double-click="true">Submit</button>
      <!-- loader spinner -->
      <div id="loader" class="loader govuk-visually-hidden"></div>
		{% if reCaptcha == true %}
           <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit" async="" defer=""></script>
      {% endif %}
     <script type="text/javascript">
		var cpatchaResponse = false;
        var onloadCallback = function()
        {
          grecaptcha.render('captha_elt',{
          'sitekey':'{{reCaptchaSiteKey}}',
          'callback': onCaptchaSubmit  
          });
        };
        var onCaptchaSubmit = function(response)
        {
          if(response){
            console.log(response)
            cpatchaResponse = true
          }
        };
		
		$(() => {
        debugger;
        $('#dfe_titleoptionvalue').val("");
        $('#dfe_businessphone').val("");          
        let inputsToValidate = [
            {
                identifier: "dfe_titleoptionvalue",
                type: "text",
                friendlyName: "your title",
                required: {{enquirycontactconfiguration.dfe_istitlerequired}},
                resolve: false
            },
            {
                identifier: "dfe_firstname",
                type: "text",
                friendlyName: "your first name",
                required: true,
                resolve: false
            },
            {
                identifier: "dfe_lastname",
                type: "text",
                friendlyName: "your last name",
                required: true,
                resolve: false
            },
            {
                identifier: "dfe_email",
                type: "email",
                friendlyName: "your email address",
                required: true,
                resolve: false
            },
            {
              identifier: "dfe_businessphone",
              type: "text",
              friendlyName: "your business phone",
              required: {{enquirycontactconfiguration.dfe_isbusinessphonerequired}},
              resolve: false
            },
            {
              identifier: "dfe_mobilephone",
              type: "text",
              friendlyName: "your mobile phone",
              required: {{enquirycontactconfiguration.dfe_ismobilephonerequired}},
              resolve: false
            },
            {
              identifier: "dfe_address1street1",
              type: "text",
              friendlyName: "your street address 1",
              required: {{enquirycontactconfiguration.dfe_isaddress1street1required}},
              resolve: false
            },
            {
              identifier: "dfe_address1street2",
              type: "text",
              friendlyName: "your street address 2",
              required: {{enquirycontactconfiguration.dfe_isaddress1street2required}},
              resolve: false
            },
            {
              identifier: "dfe_address1street3",
              type: "text",
              friendlyName: "your street address 3",
              required: {{enquirycontactconfiguration.dfe_isaddress1street3required}},
              resolve: false
            },
            {
              identifier: "dfe_address1city",
              type: "text",
              friendlyName: "your city",
              required: {{enquirycontactconfiguration.dfe_isaddress1cityrequired}},
              resolve: false
            },
            {
              identifier: "dfe_address1stateprovince",
              type: "text",
              friendlyName: "your county/state/province",
              required: {{enquirycontactconfiguration.dfe_isaddress1stateprovincerequired}},
              resolve: false
            },
            {
              identifier: "dfe_address1zippostalcode",
              type: "text",
              friendlyName: "your postal code",
              required: {{enquirycontactconfiguration.dfe_isaddress1postalcoderequired}},
              resolve: false
            },
            {
              identifier: "dfe_address1countryregion",
              type: "text",
              friendlyName: "your country/region",
              required: {{enquirycontactconfiguration.dfe_isaddress1countryregionrequired}},
              resolve: false
            },                        
            { 
                identifier: "dfe_enquirydetails",
                type: "text-area",
                friendlyName: "your enquiry details",
                resolve: false,
                required: true
            }        
        ]
		  $('#CaptchMessageId').hide();
          $('#HTMLCaptchMessageId').hide();        
        $('#dfe_title-dropdown').on('change', function () {
            var selectedTitle = $(this).val();
            $('#dfe_titleoptionvalue').val(selectedTitle);           
        });
        if("{{params.ackid}}")
        {
          $('#dfe_title-dropdown').val(sessionStorage.getItem("titleoptionvalue"));
          $('#dfe_titleoptionvalue').val(sessionStorage.getItem("titleoptionvalue"));
          $('#dfe_businessphone').val(sessionStorage.getItem("businessphone"));
          $('#dfe_mobilephone').val(sessionStorage.getItem("mobilephone"));
          $('#dfe_firstname').val(sessionStorage.getItem("firstname"));
          $('#dfe_lastname').val(sessionStorage.getItem("lastname"));
          $('#dfe_email').val(sessionStorage.getItem("email"));

          $('#dfe_address1street1').val(sessionStorage.getItem("address1street1"));
          $('#dfe_address1street2').val(sessionStorage.getItem("address1street2"));
          $('#dfe_address1street3').val(sessionStorage.getItem("address1street3"));

          $('#dfe_address1city').val(sessionStorage.getItem("address1city"));
          $('#dfe_address1stateprovince').val(sessionStorage.getItem("address1stateprovince"));
          $('#dfe_address1zippostalcode').val(sessionStorage.getItem("address1zippostalcode"));
          $('#dfe_address1countryregion').val(sessionStorage.getItem("address1countryregion"));
        }
        $('#submit-btn').on("click", () => { 
		   if({{reCaptcha}} === false)
           {
            cpatchaResponse = true;
           }
           $('#HTMLCaptchMessageId').remove();
          var dropdownValue = $('#dfe_title-dropdown').val(); 
          if($('#dfe_title-dropdown').val() == null || $('#dfe_title-dropdown').val() == "")
          {
              $('#dfe_titleoptionvalue').val("");
          }
          if({{enquirycontactconfiguration.dfe_isbusinessphonevisible}} === false)
          {
            $('#dfe_businessphone').val("");
          }
          if({{enquirycontactconfiguration.dfe_ismobilephonevisible}} === false)
          {
            $('#dfe_mobilephone').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1street1visible}} === false)
          {
            $('#dfe_address1street1').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1street2visible}} === false)
          {
            $('#dfe_address1street2').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1street3visible}} === false)
          {
            $('#dfe_address1street3').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1cityvisible}} === false)
          {
            $('#dfe_address1city').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1stateprovincevisible}} === false)
          {
            $('#dfe_address1stateprovince').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1postalcodevisible}} === false)
          {
            $('#dfe_address1zippostalcode').val("");
          }
          if({{enquirycontactconfiguration.dfe_isaddress1countryregionvisible}} === false)
          {
            $('#dfe_address1countryregion').val("");
          }            
          if(({{enquirycontactconfiguration.dfe_istitlevisible}} === true || {{enquirycontactconfiguration.dfe_istitlevisible}} === false) && {{enquirycontactconfiguration.dfe_istitlerequired}} === false && ($('#dfe_titleoptionvalue').val()== null || $('#dfe_titleoptionvalue').val()== ""))
           {
             inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_titleoptionvalue");
           }
           if(({{enquirycontactconfiguration.dfe_isbusinessphonevisible}} === true || {{enquirycontactconfiguration.dfe_isbusinessphonevisible}} === false) && {{enquirycontactconfiguration.dfe_isbusinessphonerequired}} === false && ($('#dfe_businessphone').val()== null || $('#dfe_businessphone').val() == ""))
           {
              inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_businessphone");
           }
           if(({{enquirycontactconfiguration.dfe_ismobilephonevisible}} === true || {{enquirycontactconfiguration.dfe_ismobilephonevisible}} === false) && {{enquirycontactconfiguration.dfe_ismobilephonerequired}} === false && ($('#dfe_mobilephone').val()== null || $('#dfe_mobilephone').val() == ""))
           {
              inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_mobilephone");
           }
           if(({{enquirycontactconfiguration.dfe_isaddress1street1visible}} === true || {{enquirycontactconfiguration.dfe_isaddress1street1visible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1street1required}} === false && ($('#dfe_address1street1').val()== null || $('#dfe_address1street1').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1street1");
          }
          if(({{enquirycontactconfiguration.dfe_isaddress1street2visible}} === true || {{enquirycontactconfiguration.dfe_isaddress1street2visible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1street2required}} === false && ($('#dfe_address1street2').val()== null || $('#dfe_address1street2').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1street2");
          }   
          if(({{enquirycontactconfiguration.dfe_isaddress1street3visible}} === true || {{enquirycontactconfiguration.dfe_isaddress1street3visible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1street3required}} === false && ($('#dfe_address1street3').val()== null || $('#dfe_address1street3').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1street3");
          }
          if(({{enquirycontactconfiguration.dfe_isaddress1cityvisible}} === true || {{enquirycontactconfiguration.dfe_isaddress1cityvisible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1cityrequired}} === false && ($('#dfe_address1city').val()== null || $('#dfe_address1city').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1city");
          }
          if(({{enquirycontactconfiguration.dfe_isaddress1stateprovincevisible}} === true || {{enquirycontactconfiguration.dfe_isaddress1stateprovincevisible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1stateprovincerequired}} === false && ($('#dfe_address1stateprovince').val()== null || $('#dfe_address1stateprovince').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1stateprovince");
          }
          if(({{enquirycontactconfiguration.dfe_isaddress1postalcodevisible}} === true || {{enquirycontactconfiguration.dfe_isaddress1postalcodevisible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1postalcoderequired}} === false && ($('#dfe_address1zippostalcode').val()== null || $('#dfe_address1zippostalcode').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1zippostalcode");
          }
          if(({{enquirycontactconfiguration.dfe_isaddress1countryregionvisible}} === true || {{enquirycontactconfiguration.dfe_isaddress1countryregionvisible}} === false) && {{enquirycontactconfiguration.dfe_isaddress1countryregionrequired}} === false && ($('#dfe_address1countryregion').val()== null || $('#dfe_address1countryregion').val() == ""))
          {
            inputsToValidate = inputsToValidate.filter(obj => obj.identifier !== "dfe_address1countryregion");
          } 
          const customerJourneyLandingPageId = "5a47de5f-20ab-ef11-b8e9-000d3adb571a";                       
          DfEPortal.DisableButton("submit-btn");
          DfEPortal.ShowLoadingSpinner("loader");
          DfEPortal.ValidateData(inputsToValidate)
          .then(() => {                            
            DfEPortal.WebApi.ConstructData(inputsToValidate)
            .then(dataObj => { 
              debugger;
			        if(cpatchaResponse == true)
              { 
                $('#captha_elt').hide();
                var record = {};
                var newRecord = {};
                if({{enquirycontactconfiguration.dfe_istitlerequired}} === true && $('#dfe_titleoptionvalue').val()!= "" && "{{params.prevCustJourneyId}}" !== customerJourneyLandingPageId && "{{ params.enquiryId }}")
                {
                  record.dfe_title = Number($('#dfe_titleoptionvalue').val());
                }
                else if({{enquirycontactconfiguration.dfe_istitlerequired}} === true && $('#dfe_titleoptionvalue').val()!= "" && "{{params.prevCustJourneyId}}" === customerJourneyLandingPageId)
                {
                  newRecord.dfe_title = Number($('#dfe_titleoptionvalue').val());
                }
			   	if("{{ params.enquiryId }}" && "{{params.prevCustJourneyId}}" !== customerJourneyLandingPageId)
				  {
					   record["dfe_enquiry@odata.bind"] = "/dfe_enquiries({{ params.enquiryId }})"
					   $.extend(dataObj, record);
			    }               
				  const entityName = "dfe_temporarycontactdetails"; 
				  DfEPortal.WebApi.Init();
				  console.log(dataObj);
          if({{enquirycontactconfiguration.dfe_istitlevisible}} === true && $('#dfe_title-dropdown').val() != null && $('#dfe_title-dropdown').val() != "")
            {
              sessionStorage.setItem("titleoptionvalue",$('#dfe_title-dropdown').val());
            }
            if({{enquirycontactconfiguration.dfe_isbusinessphonevisible}} === true && $('#dfe_businessphone').val() != null && $('#dfe_businessphone').val() != "")
            {
              sessionStorage.setItem("businessphone",$('#dfe_businessphone').val());
            }
            if({{enquirycontactconfiguration.dfe_ismobilephonevisible}} === true && $('#dfe_mobilephone').val() != null && $('#dfe_mobilephone').val() != "")
            {
              sessionStorage.setItem("mobilephone",$('#dfe_mobilephone').val());
            }

            if({{enquirycontactconfiguration.dfe_isaddress1street1visible}} === true && $('#dfe_address1street1').val() != null && $('#dfe_address1street1').val() != "")
            {
              sessionStorage.setItem("address1street1",$('#dfe_address1street1').val());
            }
            if({{enquirycontactconfiguration.dfe_isaddress1street2visible}} === true && $('#dfe_address1street2').val() != null && $('#dfe_address1street2').val() != "")
            {
              sessionStorage.setItem("address1street2",$('#dfe_address1street2').val());
            }

            if({{enquirycontactconfiguration.dfe_isaddress1street3visible}} === true && $('#dfe_address1street3').val() != null && $('#dfe_address1street3').val() != "")
            {
              sessionStorage.setItem("address1street3",$('#dfe_address1street3').val());
            }
            if({{enquirycontactconfiguration.dfe_isaddress1cityvisible}} === true && $('#dfe_address1city').val() != null && $('#dfe_address1city').val() != "")
            {
              sessionStorage.setItem("address1city",$('#dfe_address1city').val());
            }

            if({{enquirycontactconfiguration.dfe_isaddress1stateprovincevisible}} === true && $('#dfe_address1stateprovince').val() != null && $('#dfe_address1stateprovince').val() != "")
            {
              sessionStorage.setItem("address1stateprovince",$('#dfe_address1stateprovince').val());
            }
            if({{enquirycontactconfiguration.dfe_isaddress1postalcodevisible}} === true && $('#dfe_address1zippostalcode').val() != null && $('#dfe_address1zippostalcode').val() != "")
            {
              sessionStorage.setItem("address1zippostalcode",$('#dfe_address1zippostalcode').val());
            }
            if({{enquirycontactconfiguration.dfe_isaddress1countryregionvisible}} === true && $('#dfe_address1countryregion').val() != null && $('#dfe_address1countryregion').val() != "")
            {
              sessionStorage.setItem("address1countryregion",$('#dfe_address1countryregion').val());
            }

            if($('#dfe_firstname').val() != null && $('#dfe_firstname').val() != "")
            {
              sessionStorage.setItem("firstname",$('#dfe_firstname').val());
            }
            if($('#dfe_lastname').val() != null && $('#dfe_lastname').val() != "")
            {
              sessionStorage.setItem("lastname",$('#dfe_lastname').val());
            }
            if($('#dfe_email').val() != null && $('#dfe_email').val() != "")
            {
              sessionStorage.setItem("email",$('#dfe_email').val());
            }                       
				  if("{{ params.enquiryId }}" && "{{params.prevCustJourneyId}}" !== customerJourneyLandingPageId) 
				  {                
					record.dfe_source = 222750000
					DfEPortal.WebApi.Create(entityName, dataObj)
					.then((contactid) => {
				  
              window.location.href= '{{nextURL}}{{customerJourneyAcknowledgementPage.dfe_webpagepartialurl}}/?contactid=' + contactid + '&enquiryId={{params.enquiryId}}&custJourneyId=37c6e77a-24a0-ef11-8a6a-7c1e521fa723';
				 })
				 .catch(error => {
				  console.log(error);
				  DfEPortal.Errors.ShowWebApiError();
				  DfEPortal.EnableButton("submit-btn");
				  DfEPortal.HideLoadingSpinner("loader");
          $('#captha_elt').show();
				  }) 
				}
				else if("{{params.prevCustJourneyId}}" === customerJourneyLandingPageId)
				{                         
				   newRecord.dfe_source = 222750000
				   DfEPortal.WebApi.Create("dfe_enquiries", newRecord)
				  .then((enquirid) => {
								 record["dfe_enquiry@odata.bind"] = "/dfe_enquiries(" + enquirid + ")"
								 $.extend(dataObj, record);              
					 DfEPortal.WebApi.Create("dfe_temporarycontactdetails", dataObj)
					.then((contactid) => {
					 window.location.href= '{{nextURL}}{{customerJourneyAcknowledgementPage.dfe_webpagepartialurl}}/?contactid=' + contactid + '&enquiryId=' + enquirid + '&custJourneyId=37c6e77a-24a0-ef11-8a6a-7c1e521fa723';
					})
					.catch(error => {
					  console.log(error);
					  DfEPortal.Errors.ShowWebApiError();
					  DfEPortal.EnableButton("submit-btn");
					  DfEPortal.HideLoadingSpinner("loader");
            $('#captha_elt').show();
				   }) 
				  })
				  .catch(error => {
					  console.log(error);
					  DfEPortal.Errors.ShowWebApiError();
					  DfEPortal.EnableButton("submit-btn");
					  DfEPortal.HideLoadingSpinner("loader");
            $('#captha_elt').show();
					})

			    } 
			    if({{reCaptcha}} === true)
			    {
				 grecaptcha.reset();
				 cpatchaResponse = false;
			    }
		   }
		   else
		   {
			$('#CaptchMessageId').show();
			$('#HTMLCaptchMessageId').show();
			let captchaHTML = '<div class="govuk-warning-text" id="HTMLCaptchMessageId"><span class="govuk-warning-text__icon" aria-hidden="true">!</span><strong class="govuk-warning-text__text"><span class="govuk-visually-hidden">Warning</span>Please Enter the Captcha.</strong></div>'
			$('#CaptchMessageId').append(captchaHTML);
			DfEPortal.EnableButton("submit-btn");
			DfEPortal.HideLoadingSpinner("loader");
      $('#captha_elt').show();                 
		  }		  
		})
		.catch(error => {
		  console.log(error);
		  DfEPortal.Errors.ShowWebApiError();
		  DfEPortal.EnableButton("submit-btn");
		  DfEPortal.HideLoadingSpinner("loader");
      $('#captha_elt').show();
		})
	  })
	  .catch(() => {
		DfEPortal.EnableButton("submit-btn");
		DfEPortal.HideLoadingSpinner("loader");
    $('#captha_elt').show();
	  })
	});
  })
    </script>
     {% endif %}    
     {% else %}
     <script>
       window.location.href="{{ sitemarkers['DfE/Error/RecordNotFound'].url }}";
     </script>
   {% endif %} 
    {% if user %}
      <!-- Signed in user content goes here -->    
    {% else %}
      <!-- Signed out user content goes here -->
    {% endif %}  
{% endblock %}
{% block rightColumn %}
  <!-- Side banner content goes in here. If side banner content is not required this block can be removed from the template -->
{% endblock %}